.register-form
  width: 100%

.others-forms-box
  float: right

.radio-box
  margin-top: 17px
  display: flex
  align-items: center
  justify-content: space-around

.first-form
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1)
  padding: 35px
  margin-top: 35px
  float: left

.register-input
  width: 100%
  height: 45px
  padding-left: 10px
  margin-top: 25px

.input-box
  float: left 


@media(max-width: 1199px)

  .example
    display: none
